@import '../../variables.scss';

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background: white;
    h1{
        font-size: 3.5vmin;
    }
    p{
        font-size: 2.5vmin;
    }
}
.fila{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.75);
        width: 20vw;
        padding: 2vh;
        border-radius: 1vh;
        color: white;
        border:none;
        background:$rojo;
        &:hover{
            box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.75);
            background:darken($rojo,10%);
        }
        &:active{
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
            background:lighten($rojo,10%);
        }
    }
    input,textarea{
        box-sizing: border-box;
        width: 100%;
        height: 5vh;
        margin: 1.5vh;
        padding: .5vh;
        border-radius: 1vh;
        background: transparent;
        border:solid 1px #707070;
        color: black;
        &:focus{
            border:none;
            background: white;
            color: grey;
            box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
        }
    }
    textarea{
        height: 30vh;
        outline: none;
        resize: none;
        box-shadow: none;
    }
}

@media screen and (max-width: $celular) {
    .contenedor{
        margin: auto;
        width: 90vw;
        align-items: center;
        justify-content: center;
    }
    .fila{
        width: 90vw;
        button{
            width: 70vw;
        }
    }
}
