@import '../variables.scss';

.hero{
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow:hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.dobleHome{
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow:hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    .dobleImagen{
        box-sizing: border-box;
        width: 45vw;
        height: 100vh;
        overflow: hidden;
        img{
            width:100%;
            object-fit: cover;
        }
    }
    .dobleTexto{
        width: 55vw;
        height: 100vh;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: left;
        h1{
            font-size: 6vmin;
            width: 80%;
            span{
                background: $rojo;
                color: white;
            }
        }
        p{
            font-size: 3vmin;
            width: 80%;
        }
    }
    .decorador{
        position: absolute;
        top: 75vh;
        left: 23vw;
        width: 30vmax;
        height: 2vmin;
        z-index: 150;
        background: $rojo;
        content: "";
    }
}

@media screen and (max-width: $celular) {
    .dobleHome{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        .dobleTexto,.dobleImagen{
            width: 100vw;
            max-width: 100%;
            height: 50vh;
        }
        .decorador{
            display: none;
        }
    }
}
