@import '../../variables.scss';

.wrapper{
    width: 100vw;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.inicio{
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    height: 140vh;
    background: white;
    .titulo{
        position: absolute;
        top: 30vh;
        left: 40vw;
        padding:1vmin 2vmin;
        background: $rojo;
        color: white;
        z-index: 150;
    }
    .imagen1{
        position: absolute;
        left: 5vw;
        top: 20vh;
        width: 40vw;
        height: 80vh;
        object-fit: cover;
    }
    .imagen2{
        position: absolute;
        left: 0;
        top: 70vh;
        width: 30vw;
        height: 50vh;
        padding: 4vmin;
        background: white;
        object-fit: cover;
    }
    .texto{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        right: 5vw;
        top: 40vh;
        width: 40vw;
        text-align: left;
        p{
            width: 100%;
            margin: 1vmin;
        }
        a{
            box-sizing: border-box;
            padding: 1vmin 2vmin;
            margin: auto;
            color: $rojo;
            background: white;
            border-radius: .5vh;
            text-decoration: none;
            border: solid 2px $rojo;
            margin: 1vmin;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
            &:hover{
                background:lighten($rojo,80%);
                box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
            }
            &:active{
                background:darken($rojo,2%);
                box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
            }
        }
    }
    .fondo{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 40vh;
        overflow: hidden;
        p{
            position: absolute;
            font-size: 20vmin;
            color: #dad2d2;
            margin:0;
            padding: 0;
            &:nth-child(1){
                top: 0;
                right: 30vw;
                text-align: right;
            }
            &:nth-child(2){
                bottom: 0;
                left: 60vw;
                text-align: left;
            }
        }
    }
}

.conoceMas{
    position: relative;
    box-sizing: border-box;
    align-self: flex-start;
    width: 90vw;
    height: 70vh;
    background: $rojo;
    color: white;
    padding: 5vmin;
    margin-bottom: 30vh;
    h2,h4,p{
        margin: 2vmin;
        padding: 0;
        width: 60%;
    }
    .imagen2{
        position: absolute;
        right: -5vw;
        bottom: -35vh;
        width: 30vw;
        height: 60vh;
        padding: 3vh;
        background: white;
        object-fit: cover;
    }
    .imagen1{
        position: absolute;
        right: 30vw;
        bottom: -35vh;
        width: 30vw;
        height: 60vh;
        padding: 3vh;
        background: white;
        object-fit: cover;
    }
}
@media screen and (max-width: $celular) {
    .inicio{
        height: 100vh;
        .titulo{
            left:50vw;
        }
        .imagen1{
            width: 60vw;
            height: 40vh;
        }
        .imagen2{
            width: 35vw;
            height: 30vh;
            top: 45vh;
        }
        .texto{
            width: 50vw;
            top: 65vh;
        }
    }
    .conoceMas{
        width: 95vw;
        .h2,h4,p{
            width: 85vw;
        }
        .imagen1,.imagen2{
            bottom: -15vh;
            width: 35vw;
            height: 30vh;
            padding: 2vw;
        }
        .imagen1{
            right: 40vw;
        }
    }
}
