@import '../../variables.scss';

.cabecera{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;
}

.menuBoton{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 150;
    cursor: pointer;
    width: 15vmin;
    height: 15vmin;
    background: $rojo;
    color: white;
    span{
        position: absolute;
        left: 4vmin;
        top: 7vmin;
        width: 7vmin;
        height: 4px;
        background: white;
        content: "";
        transition: all .3s ease-out;
    }
    span:first-child{
        top:5.5vmin;
    }
    span:last-child{
        top:8.5vmin;
        width: 2vmin;
    }
    &.cerrado{
        span{
            position: absolute;
            left: 5vmin;
            top: 7vmin;
            width: 5vmin;
            height: 4px;
            background: white;
            content: "";
        }
        span:first-child{
            transform: rotate(-45grad);
        }
        span:nth-child(2){
            opacity: 0;
        }
        span:last-child{
            transform: rotate(45grad);
        }
    }
}

.menu{
    position: absolute;
    top: 0vh;
    height: 100vh;
    width: 30vw;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .6s ease-out;
    ul{
        list-style: none;
        height: 60vh;
        width: 20vw;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        li{
            width: 20vw;
            height: 10vh;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: black;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
    &.cerrado{
        left: -30vw;
    }
    &.abierto{
        left: 0;
    }
}

.redes{
    width: 30vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        height: 20vh;
        width: 20vh;
    }
    .divisor{
        width: 2vh;
    }
    .item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7vh;
        height: 7vh;
        border-radius: 3.5vh;
        background: $rojo;
        text-decoration: none;
        color: white;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    }
}
@media screen and (max-width: $celular) {
    .menu{
        width: 50vw;
        &.cerrado{
            left: -50vw;   
        }
    }
    .redes{
        width: 40vw;
        height: 20vh;
        justify-content: center;
        .divisor{
            width: 1vw;
        }
        .item{
            display: none;
        }
        img{
            width: 15vh;
            height: 15vh;
            object-fit: cover;
        }
    }
}
